/*Home_Page_Style.css*/
* {box-sizing: border-box}
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #E5E8E8;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  text-align: center;

}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 50px 20px;
  height: 100%;
}

.testContent {
  color:black;
  display: none;
  padding: 20px 20px;
  height: 100%;
}

#QuickMaths {background-color: #EBF5FB;}
#Guest {background-color: #EAFAF1;}
#Sign {background-color: #FDEDEC;}
#Log {background-color: #FBEEE6;}
#test1 {background-color: #D5DBDB}
#test1Page {background-color: #D5DBDB}


.button {
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  top: 50%;
  width: 100%;
}

.button2 {
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  top: 50%;
  width: 20%;
}

.button3 {
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  top: 100%;
  width: 100%;
  text-align: center;
}

.wrapper {
    text-align: center;
}
.countdownTimer{
  background-color:#F1C40F;
  color:#17202A;
  font-size:20px;
  text-align:center;
}

.multiplication{  
  padding-right: 45%;    
  padding-left: 45%;
  font-size: 40px;
  text-align: right;
}

.results{
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 10px;
  padding-bottom: 0.25in;
  text-align: center;
  font-size: 25px;

}

.division{
  padding-right: 45%;    
  padding-left: 45%;
  font-size: 40px;
  text-align: center;
}

.button1 {background-color: #D68910}
.button12 {background-color: #D68910}

a {
    display: block;
    width: 25%;
    border: 1px solid #000;
}

.tb01 {
  position:absolute;
           top:50%;
           left:50%;
}

table {
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.5rem;
    position:absolute;
           top:60%;
           left:40%;
}